
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

body {
	overflow: hidden;
}

@font-face {
  font-family: KozMinPro;
  src: url(../assets/KozMinPro-Medium.otf) format("opentype");
}

.info{
	position:absolute;
	z-index:2;
	font-family:KozMinPro;
	font-size:20px;
	color:#808080;
}

.TeacherDiv{
	position: absolute;
	width:195px;
	height:250px;
	transform:scale(0.0);
	transform-origin:center center;
}

.TeacherBtn{
	position: static;
	max-width:100%;
	max-height:auto;
	top:0;
	left:0;
}

.TeacherText{
	position:relative;
	font-family:KozMinPro;
	font-size:14px;
	font-weight: bold;
	left:10%;	
	color:#808080;
}

.blowUp {
	transform:scale(1.0);
	transition:200ms ease-in-out;	
}

.blowDown {
	transform:scale(0.0);
	transition:200ms ease-in-out;
}

.fadeIn {
	opacity:1;    
    transition: opacity 0.2s;
}

.fadeOut {
	opacity:0;
    transition: opacity 0.2s;	
}