*:focus {
    outline: 0;
}

* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

@font-face {
  font-family: KozMinProM;
  src: url(../assets/KozMinPro-Medium.otf) format("opentype");
}

@font-face {
  font-family: KozMinProB;
  src: url(../assets/KozMinPro-Bold.otf) format("opentype");
}

@font-face {
  font-family: KozMinProH;
  src: url(../assets/KozMinPro-Heavy.otf) format("opentype");
}

.personalPhoto{
	float:right;
	margin:15px;

	width:230px;
	height:auto;
}

.displayDiv{
	position:absolute;
	width:1175px;
	height:672px;

	border:3px solid #FFFFFF;
}

.infoDiv{
	position:absolute;
	left:11.66%;
	top:7.29%;
	width:75.06%;
	height:86.16%;

}

.mediaDiv{
	width:882px;
	height:527px;
}

.media{
	max-height:100%;
	max-width:100%;
	margin: 0 auto;
	display: block;
}

/*------------------------
Text
--------------------------*/
.titleText{
	font-family:KozMinProH;
	font-size:35px;
	color:#F2F2F2;
	text-align: center;
}

.IntroText{
	font-family:KozMinProB;
	font-size:23px;
	color:#F2F2F2;
	line-height: 36px;
}

.ItemIntro{
	font-family:KozMinProM;
	font-size:20px;
	color:#F2F2F2;
	text-align: center;
}

/*------------------------
Animation
--------------------------*/

.fadeIn {
	opacity:1;    
    transition: 300ms ease-in-out;
}

.fadeOut {
	opacity:0;
    transition: 300ms ease-in-out;	
}